#box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
}

#box:hover{
    background-color: red;
    color: white;
}

#box:active{
    background-color: pink;
    color: white;
}